body{
    font-weight: bold;
    background-image: url("../assets/images/Trains.jpg");
}
label{
    font-weight: bold;
}
#backgroundcd{
    background-color:orange;

}
.space{
    background-color:red;
    max-width: 980px;
}
.headertt{
    padding:20px;
    background-color: orange;
}
#traintime{
    color:darkblue;
    padding: 20px;
}
.labels{
    background-color:orange;
    border-radius: 5px;
    text-align:center;
    color: white;
    font-weight: bold;

}

.tablehd{
    max-width: 980px;
    border-width: thick;
    border-style: solid;
    border-radius: 10px;
    color:white;
    border-color: orange;
}

#submit1{
    color:white;
    font-weight: bold;
}
.form-group{
    margin:0px;
}