body{
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    background-image: url("../assets/images/happytrain.PNG");
}
label{
    font-weight: bold;
}
.space{
    background-color:red;
    border-radius: 20px;
}
#trainTable{
    padding:20px;
    background-image: url("../assets/images/Trains.jpg");

}
.headertt{
    padding:20px;
    background-color: cornflowerblue;
}
#traintime{
    color:red;
    padding: 20px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}
.labels{
    background-color:cornflowerblue;
    text-align:center;
    color: white;
    font-weight: bold;
    padding-bottom: 2px;

}

.tablehd{
    max-width: 900px;
    border-width: 20px;
    border-style: solid;
    border-radius: 0px;
    color:white;
    border-color: cornflowerblue;
}

#submit1{
    color:white;
    font-weight: bold;
}
.form-group{
    margin:0px;
}
